In [22]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn

In [151]:
df = pd.read_csv('day.csv')

In [152]:
df.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,2011-01-03,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,2011-01-04,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,2011-01-05,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600

In [153]:
# Check the null values

df.isnull().sum()

instant       0
dteday        0
season        0
yr            0
mnth          0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
dtype: int64

In [154]:
df.shape

(731, 16)

In [155]:
df.columns

Index(['instant', 'dteday', 'season', 'yr', 'mnth', 'holiday', 'weekday',
       'workingday', 'weathersit', 'temp', 'atemp', 'hum', 'windspeed',
       'casual', 'registered', 'cnt'],
      dtype='object')

### Converting categorical data to numerical data

In [156]:
# There is no categorical data to convert to numerical data.

### Split the data

In [31]:
df.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,2011-01-03,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,2011-01-04,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,2011-01-05,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600

In [157]:
df = df.drop(['dteday'], axis = 1)

In [158]:
df

,instant,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
726,727,1,1,12,0,4,1,2,0.254167,0.226642,0.652917,0.350133,247,1867,2114
727,728,1,1,12,0,5,1,2,0.253333,0.255046,0.590000,0.155471,644,2451,3095
728,729,1,1,12,0,6,0,2,0.253333,0.242400,0.752917,0.124383,159,1182,1341
729,730,1,1,12,0,0,0,1,0.255833,0.231700,0.483333,0.350754,364,1432,1796
730,731,1,1,12,0,1,1,2,0.215833,0.223487,0.577500,0.154846,439,2290,2729

In [147]:
from sklearn.model_selection import train_test_split

In [159]:
df

,instant,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
726,727,1,1,12,0,4,1,2,0.254167,0.226642,0.652917,0.350133,247,1867,2114
727,728,1,1,12,0,5,1,2,0.253333,0.255046,0.590000,0.155471,644,2451,3095
728,729,1,1,12,0,6,0,2,0.253333,0.242400,0.752917,0.124383,159,1182,1341
729,730,1,1,12,0,0,0,1,0.255833,0.231700,0.483333,0.350754,364,1432,1796
730,731,1,1,12,0,1,1,2,0.215833,0.223487,0.577500,0.154846,439,2290,2729

In [174]:
X = df.drop(['temp'],axis=1)
y = df['temp']

In [175]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [176]:
len(X_train),len(y_train)

(584, 584)

In [177]:
len(X_test),len(y_test)

(147, 147)

In [178]:
# Give the data to the model

from sklearn.linear_model import LinearRegression

In [179]:
reg = LinearRegression()

In [180]:
reg.fit(X_train,y_train)

LinearRegression()

In [181]:
# m_value

reg.coef_

array([ 1.49156952e-04, -6.15134340e-04, -5.60946741e-02, -4.38323019e-03,
        7.55926896e-03,  4.63994878e-04,  4.52359506e-03,  2.22364233e-03,
        1.10747945e+00, -9.17751693e-03,  6.29461658e-02,  2.92440979e-06,
       -1.23934739e-06,  1.68506264e-06])

In [182]:
# C_value

reg.intercept_

-0.04572720428440846

In [183]:
# train accuracy

In [184]:
y_train_pred = reg.predict(X_train)

In [185]:
from sklearn.metrics import r2_score

In [186]:
print(f'train accuracy is:{r2_score(y_train,y_train_pred)}')

train accuracy is:0.9815904999717875

In [187]:
# Finding the loss

print(f'train loss is:{1-r2_score(y_train,y_train_pred)}')

train accuracy is:0.01840950002821251

In [188]:
#test accuracy

In [189]:
y_test_pred = reg.predict(X_test)

In [191]:
print(f'test accuracy is:{r2_score(y_test,y_test_pred )}')

test accuracy is:0.9942386438461872

In [194]:
print(f'test loss is:{1-r2_score(y_test,y_test_pred)}')

test loss is:0.005761356153812791

In [195]:
# Prediction with our own data

In [197]:
X_train.columns

Index(['instant', 'season', 'yr', 'mnth', 'holiday', 'weekday', 'workingday',
       'weathersit', 'atemp', 'hum', 'windspeed', 'casual', 'registered',
       'cnt'],
      dtype='object')

In [199]:
X_train.shape

(584, 14)

In [200]:
reg.predict([[0,1,1,11,2,2,1,2,0.36,0.355,345,1856,396,456]])

C:\Users\Jayalakshmi\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([21.99193198])